h2.nombre{
font-size: 2rem;
background-color: #68f2cc;
color: white;
width: 50%;
margin: 0 auto;
border-radius: 20px;
border-style: double;
border-color: black;
text-align: center;
top: 10%;
}
ul.info{
  text-align: center;
  list-style-type: none;
  color: rgb(104,242,204);
}
li.titulo {
  font-size: 1.5rem;
}

button.dropbtn {
    background: rgb(104, 242, 204);
    padding-top: 23px;
    position: relative;
    left: -32px;
    bottom: -10px;
}
button.w3-button.w3-black {
    position: relative;
    bottom: -26px;
    left: -23px;
    background-color: rgb(104,242,204)!important;
}

.button_buscador {
    width: 20%;
    position: relative;
    top: 2px;
    left: 256px;
    height: -1px;
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 6px;
    background-color: gainsboro;
}
img.generos-imagenes{
  align-items: center;
  width: 30%;
}
h2.nombre{
  margin-top: 3%;
}

li.titulo{
  font-size: 250%;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  color: white;
}

li.poster{
}

li.generos{

}

li.lenguaje{

}
li.sinopsis{
  margin: 0 auto;
  width: 50%;

}

#trailer{
  width: 50%;
  text-align: center;
  margin: 0 auto;
  border: white;
  border-style: solid;
  margin-left: 26.3%;
}
