h2.nombre{
font-size: 2rem;
background-color: #68f2cc;
color: white;
width: 50%;
margin: 0 auto;
border-radius: 20px;
border-style: double;
border-color: black;
text-align: center;
top: 5%;
}

button.dropbtn {
    background: rgb(104, 242, 204);
    padding-top: 23px;
    position: relative;
    left: -32px;
    bottom: -10px;
}
button.w3-button.w3-black {
    position: relative;
    bottom: -26px;
    left: -23px;
    background-color: rgb(104,242,204)!important;
}

.button_buscador {
    width: 20%;
    position: relative;
    top: 2px;
    left: 256px;
    height: -1px;
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 6px;
    background-color: gainsboro;
}
