button.dropbtn {
    background: rgb(104, 242, 204);
    padding-top: 23px;
    position: relative;
    left: -32px;
    bottom: 0px;
}

h2.subtitulo{
  font-size: 2rem;
  background-color: #68f2cc;
  color: white;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  border-style: double;
  border-color: black;
  text-align: center;
  margin-top: 3%;
}
