*{
    font-family: monaco;
    box-sizing: border-box;
}


section article.peliculas {
  float: left;
  width: 30%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-right: 5%;
  background-color:#61F3CC;
  height: 700px;
}
article.peliculas:nth-child(3n){
  margin-right: 0;
}
section.section-estrenos img {
  max-width: 100%;
}

div.estrenos img{
  width: 90%;
  margin: 0 auto;
}

img.estrenos-imagenes{
  border: white;
  border-style: double;
}

#estrenos{
  text-align: center;
  color: white;
  padding-top: 40px;
  }

  h2.subtitulo{
    font-size: 2rem;
    background-color: #68f2cc;
    color: white;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    border-style: double;
    border-color: black;
  }

  @media screen and (max-width: 600px) {

    section article.peliculas {
      float: left;
      width: 45%;
      padding-bottom: 10px;
      margin-bottom: 10px;
      margin-right: 10%;
      background-color:#61F3CC;
      height: 500px;
    }
    article.peliculas:nth-child(3n){
      margin-right: 10%;
    }
    article.peliculas:nth-child(2n){
      margin-right: 0;
    }

  a.item{
    position: relative;
      bottom: 22px;
      left: 205px;
  }
  button.dropbtn {
      position: relative;
      bottom: 40px;
      left: 212px;
  }

  button.w3-button.w3-black {
      position: relative;
      bottom: 22px;
      left: 184px;
      background-color: rgb(104,242,204)!important;
  }
  }
