*{
    font-family: monaco;
    box-sizing: border-box;
}
.contenedor{
  overflow: hidden;
}

.peliculas {
  float: left;
  width: 30%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-right: 5%;
  background-color:#61F3CC ;
  height: 700px;
}
.peliculas:nth-child(3n){
  margin-right: 0;
}
 img.imagenes {
  max-width: 100%;
  border: white;
 border-style: double;
}

a{
  color: white;
  font-size: 16px;
}


h2.titulo-producto{
  text-align: center;
}

#top100{
  text-align: center;
  color: white;
  padding-top: 40px;
  }

  h2.subtitulo{
    font-size: 2rem;
    background-color: #68f2cc;
    color: white;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    border-style: double;
    border-color: black;
  }

  h2.subtitulo{
    font-size: 2rem;
    background-color: #68f2cc;
    color: white;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
    border-style: double;
    border-color: black;
  }
h2.titulo-producto{
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
  font-size: 1rem;
}
